.header {
    &__logo {
        margin: 0;
        text-decoration: none;
        display: flex;
        column-gap: 8px;
        align-items: center;

        &-title {
            text-wrap: nowrap;
            font-family: 'Ardarling';
            cursor: pointer;
            color: transparent;
            letter-spacing: 2px;
            margin: 0;
            font-size: 5vmin;
            background: linear-gradient(0deg, rgba(255, 215, 0, 1) 50%, rgba(0, 191, 255, 1) 50%);
            background-clip: text;
            text-shadow: 2px 2px 24px rgba(0,0,0,0.5);
            transition: text-shadow 0.3s;

            &:hover {
                text-shadow: 2px 2px 24px rgba(255, 255, 255, 0.5);
            }
        }

        &-image {
            width: 60px;
            transition: 0.5s;
            animation: glowing 3s alternate infinite;
            background-color: rgba(255, 255, 255, 0.05);
            border-radius: 50%;
            padding: 8px;
            margin: 0 8px 0 0;
        }

        &-tg {
            &__link {
                opacity: 0.05;
                position: absolute;
                z-index: 200;
                border: 2px solid white;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                pad: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: white;
                font-size: calc(8px + 2vmin);
                text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
                background: linear-gradient(0deg, #ffd700 50%, #00bfff 50%);
                transition: 0.3s;

                &:hover {
                    opacity: 0.8;
                    transform: scale(1.05);
                }
            }

            &-image {
                
            }
        }
    }

    &.scrolled {
        .header__logo {
            &-image {
                transform: scale(0.8);
            }
        }
    }
}

@keyframes glowing {
    0% {
        filter: drop-shadow(0 0 12px rgba(255, 255, 255, 1));
    }

    20% {
        filter: drop-shadow(0 0 8px rgba(38, 94, 38, 0.7));
    }

    40% {
        filter: drop-shadow(0 0 10px rgba(48, 118, 48, 1));
    }

    60% {
        filter: drop-shadow(0 0 12px rgba(38, 110, 58, 0.7));
    }

    80% {
        filter: drop-shadow(0 0 14px rgba(28, 95, 78, 0.5));
    }

    100% {
        filter: drop-shadow(0 0 16px rgba(18, 75, 58, 1));
    }
}